* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #EBE9DD;
}

.provas-por-assunto {
    background-color: #EBE9DD;
    padding: 50px 20px;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.provas-por-assunto h1 {
    color: #2F6123;
    font-size: 3.5em;
}

.provas-por-assunto p {
    color: #4f4f4f;
    font-size: 1.2em;
    margin: 40px 0;
}

.botao-lista {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.botao {
    background-color: #8DC73F;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
    text-align: left;
    display: inline-block;
    width: 350px;
    transition: background-color 0.3s ease;
}

.botao span {
    font-weight: normal;
    font-size: 0.9em;
}

.botao:hover {
    background-color: #7BB02E;
}

img{
	width: 80%;
}

.btn-voltar{
	width: 100px;
	height: 50px;
	background-color: #255C2E;
	color: #F5F5E8;
	transition: background-color 0.3s ease;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}

.btn-voltar:hover{
	background-color: rgb(55, 136, 69);
}
